.App {
  background-color: rgb(12, 11, 15);
  height: 100vh;
}
.Back{
  display: inline-block;
  position: relative;
  top: 13%;
  left: 38%;
}
.Encapsulamento{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 5em;
  padding-bottom: 5em;
  border-radius: 15px;
  box-shadow: 0px 0px 25px black;
  background-color: rgb(23, 23, 32);
  width: 80%;
}
.Login{
  display: flex;
  flex-direction: column;
  top: 4em;
  gap: 1em;
  width: 100%;
}

.page-login-button{
  margin-top: 1em;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #5ddf91;
  font-weight: 700;
  font-weight: 600;
}
.page-login-button:hover{
  filter: opacity(0.6);
}
.Login div{
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.Login div .diferent{
  display: flex;
  flex-direction: column;
  position: relative;
  right: 1.5em;
}

#startsvg{
  position: relative;
  left: 0.4em;
  top: 2em;
  width: 1.5em;
  height: 1.5em;
  color: rgb(0, 255, 98);
  z-index: 3;
}
.Login div input{
  position: relative;
  border: none;
  background-color: #0b0b11;
  border-radius: 4px;
  height: 2.5em;
  font-size: 1em;
  padding-left: 3em;
  width: 100%;
  border-bottom: 2px solid #0b0b11;
  color: #ffffff;
}
.Login div input:focus{
  outline: none;
}
.Icon-Login{
  margin: 0%;
  padding: 0%;
  font-size: 6em;
  transform: translateY(-0.5em);
  animation: Flutter 3s linear 1s infinite alternate;
}
@keyframes Flutter {
  0%{
    transform: translateY(-0.2em);
  }
  100%{
    transform: translateY(0em);
  }
}
.DivExit{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.DivExit .Exit{
  position: static;
  margin: 0;
  margin-bottom: 0.2em;
  padding: 0;
}
.DivExit:hover .Exit{
  color: #5ddf91;
}
#returnsvg{
  position: absolute;
  top: 0.5em;
  height: 1.6em;
  left: 0.5em;
}